# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
venv/
env/
myvenv/
ENV/
bin/
lib/
share/

# Streamlit
.streamlit/
static/

# Database
*.sqlite
*.db
*.db-journal
*.db-shm
*.db-wal

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db
desktop.ini
