# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
myvenv/
ENV/

# Streamlit
.streamlit/

# Database
*.sqlite
*.db

# OS
.DS_Store
Thumbs.db
